{% extends "layout.html" %}
{% block body %}
<link href="{{ url_for('static', filename='css/aboutus.css') }}" rel="stylesheet">
<section id="content">
<article>
<div class="container">
    <div class="row" id="firstrow" >
          
        <div>
              
        </div>
    </div>
</div>
</article>
<article>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
    <p id="aboutus">This platform has being created and developped by<b> Houssem Charfeddine</b> and <b> Souheil Barhoumi</b></p>
    <center><a href="https://github.com/HoussemCharf" class="github"><i class="fa fa-github fa-4x"></i></a>
    <a href="https://github.com/harloNzz" class="github"><i class="fa fa-github fa-4x"></i></a></center>
  </div>
</article>
</section>
{% endblock %}
