{% extends "layout.html" %}
{% block body %}
<link href="{{ url_for('static', filename='css/aboutus.css') }}" rel="stylesheet">
<section id="content">
<article>
<div class="container">
    <div class="row" id="firstrow" >
          
        <div>
          <h1><center>About us</center></h1>
              
        </div>
    </div>
</div>
</article>
<article>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
    <p id="aboutus">This platform has being created and developped by<b> Houssem Charfeddine</b> and <b> Souheil Barhoumi </b> with the great help of the hardworking <b>EngineersSparkCommunity.</b></p>
  </div>
</article>
</section>
{% endblock %}
