{% extends "layout.html" %}
{% block body %}
<style type="text/css">
.container.custom-container {
      top:0px;
        padding-top:20px;
        margin:auto; position:relative;
        width:950px;
        height:100%;
        margin-left:150px;
     
}

.md-textarea {
        width:400px;

 
}
.form-control-file {
        margin-left:15px;
}
.btn {
        margin-left: 676px;
        margin-top:-38px;
        height:30px;
        width:100px;
}
#textdescription{
        margin-top:4px;
}
#textarea1 {
        margin-top : 10px;
}
progress[value]::-webkit-progress-value {
  background-image:
       -webkit-linear-gradient(-45deg, 
                               transparent 33%, rgba(0, 0, 0, .1) 33%, 
                               rgba(0,0, 0, .1) 66%, transparent 66%),
       -webkit-linear-gradient(top, 
                               rgba(255, 255, 255, .25), 
                               rgba(0, 0, 0, .25)),
       -webkit-linear-gradient(left,#09c, #f44);
    border-radius: 1px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}
progress[value]::-webkit-progress-bar {
  background-color:transparent;}
#progressBar {
    margin-top :30px;
    margin-left:-17px;
}
</style>
<script src="{{ url_for('static', filename='js/progressbar.js') }}"></script>
<h1 style="padding:0 465px;margin-top:70px;text-shadow:1px 1px" > Report Fields </h1>  
<section id="content">
<article>
<div class="container">
    <div class="page-header">
  
    </div>
<div class="row">
          <form method=POST action="#" enctype='multipart/form-data'>
            <div class="row" id=firstrow>
                <div class="col-md-5 col-md-offset-1" >
                    <label for="InputbugName">Bug name </label>
                    <input type="text" class="form-control" name="reportName" placeholder="Bug name">
                </div>
            
                <div class="col-md-2">
                    <label for="InputbugType">Bug type </label>
                    <select name="reportType" class="form-control">
                        <option value=" " disabled selected>Type</option>
                        <option id="option1" value="0" > T1 </option>
                        <option id="option2" value="0"> T2 </option>
                    </select> 
                </div>
                <div class="col-md-2" id="reportLevel">
                    <label for="InputthreatLevel">Threat level </label>
                    <select  id='selectA' name="reportLevel" class="form-control">
                        <option value="" disabled selected>Select a level</option>
                        <option id="option1" value="25"> Low </option>
                        <option id="option2" value="50"> Medium</option>
                        <option id="option3" value="80"> High </option> 
                    </select></div>
                    <div class="col-md-2">
                   <progress id='progressBar' max='100' value='0' style="width:100%;height:25px;background-color:transparent; border-radius: 2px;
                        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;"></progress>
                </div>
            </div>        
            
            <div class="row" ><br>
                <div id="textdescription" class="col-md-9 col-md-offset-1">
                    <strong> Description</strong>
                    <br>
                    <textarea placeholder="Description field must contain information" name="reportDescription" class="form-control" id="textarea1" rows="11" cols="20" ></textarea>
                </div>
            </div>
            <div class="row" id=reportContent>
                <div class="cold-md-1 col-md-offset-1">
                    <label for="InputFile"></label>
                    <input type=file  name="reportContent" class=form-control-file>
                </div>
            
            
                    <button type="submit" class="btn btn-primary">report</button>
                </div>
            </div>
        </form>
</div><br>
<br>
</div>
</article>
</section>
{% endblock %}