{% extends "layout.html" %}
{% block body %}
<script src="{{ url_for('static', filename='js/progressbar.js') }}"></script>
<link href="{{ url_for('static', filename='css/report/report.css') }}" rel="stylesheet">
<section id="content">
<article>
<div class="container">
    <div class="page-header">
  <h1 align="center"> New Report </h1>  
    </div>
    <div class="row">
                {% if error!=None %}
                    <div class="alert alert-danger" role="alert">{{error}}</div>
                {% endif %}
                {% if success!=None %}
                    <div class="alert alert-success" role="alert">{{success}}</div>
                {% endif %}
</div>
<div class="row">
          <form method=POST action="{{ url_for('new_report') }}" enctype="multipart/form-data">
            <div class="row" id="firstrow">
                <div class="col-md-5 col-md-offset-1" >
                    <label for="InputbugName">Bug name </label>
                    <input type="text" class="form-control" name="reportName" placeholder="Bug name" required="Please fill in report name!">
                </div>
            
                <div class="col-md-2">
                    <label for="InputbugType">Bug type </label>
                    <select name="reportType" class="form-control">
                        <option value=" " disabled selected>Type</option>
                        <option id="option1"  > 0Day </option>
                        <option id="option2" > CVE </option>
                    </select> 
                </div>
                <div class="col-md-2" id="reportLevel">
                    <label for="InputthreatLevel">Threat level </label>
                    <select  id='selectA' name="reportLevel" class="form-control" required="please seclect a level!">
                        <option value="" disabled selected>Select a level</option>
                        <option id="option1" value="25"> Low </option>
                        <option id="option2" value="50"> Medium</option>
                        <option id="option3" value="80"> High </option> 
                    </select></div>
                    <div class="col-md-2">
                   <progress id='progressBar' max='100' value='0'></progress>
                    </div>
            </div>        
            
            <div class="row" ><br>
                <div id="textdescription" class="col-md-7 col-md-offset-1">
                    <strong> Description</strong>
                    <br>
                    <textarea placeholder="Description field must contain information" name="reportDescription"
                     class="form-control" id="textarea1" rows="11"  required="Fill out Description!"></textarea>
                </div>
                 
                   <div id="AttackVector1" class="col-md-2" style="margin-top:5px">    
                    <label for="AttackVector2"> Attack Vector(AV)</label>
                    <select name="AttackVector" class="form-control"  required="Please choose attack vector!">
                        <option value="" disabled selected>Select an AV</option>
                        <option id="option1" > Network </option>
                        <option id="option2" > Adjacent</option>
                        <option id="option3"> Web </option>
                        <option id="option4" > Local </option>
                        <option id="option5"  > Physical </option></select>
                </div>
            </div>
            <div class="row">
                <div id="AttackComplexity1" class="col-md-2 col-md-offset-8">
                    <label id="AttackComplexity2">  Attack Complexity(AC)</label>
                    <select name="AttackComplexity" class="form-control" id="attack1" required="Please choose an attack Complexity!">
                        <option value="" disabled selected>Select an AC</option>
                        <option id="option1" > Low</option>
                        <option id="option2" > High</option></select> 
                </div>
            </div>
            <div class="row">
                 <div id="getprivilege1" class="col-md-2 col-md-offset-8">
                    <label id="getprivilege2">PriviligesRequired(PR)</label>
                    <select name="getprivilege" class="form-control" style="margin-top:3px" required="Please choose the privlage required!"> 
                        <option value="" disabled selected>None</option>
                        <option id="option2" >Low</option>
                        <option id="option3" >High</option></select> 
                 </div> 
            </div>             
            <div class="row" id=reportContent>
                <div class="col-md-4 col-md-offset-1">
                    <label for="reportContent"></label>
                    <input type="file"  name="reportContent" class=form-control-file>
                    
                </div>
                    <button type="submit" id="report" class="btn btn-primary">report</button>
                </div>
            </div>
        </form>
</div><br><br><br>
<span id="payattention">PS : Only PDF files are Allowed</span>
<br>
</div>
</article>
</section>
</div>
{% endblock %}