{% extends "layout.html" %}
{% block body %}
<link href="{{ url_for('static', filename='css/report/report.css') }}" rel="stylesheet">
<div class="container">
    <div class="page-header">
  <h1 align="center"> Evaluate Report </h1>  
    </div>
    <div class="row">
                {% if error!=None %}
                    <div class="alert alert-danger" role="alert">{{error}}</div>
                {% endif %}
                {% if success!=None %}
                    <div class="alert alert-success" role="alert">{{success}}</div>
                {% endif %}
</div>
<div class="row">
          <form method=POST action="{{ url_for('score_report') }}">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                    <th> Reporter Name </th>
                    <th>Bug name </th>
                    <th>Bug type </th>
                    <th>Threat Level</th>
                    
                    <th> Description:</th>
                    <br>
                    
                    <th> Attack Vector(AV):</th>
                    
                    <th>  Attack Complexity(AC):</th>
                    
                    <th>PriviligesRequired(PR):</th>
                    
                    <th>Filename</th>
                </thead>
                <tbody>
                    <tr>
                    <td>{{usernames}}</td>
                    <td> {{report['reportName']}}</td>
                    <td>{{report['reportType']}}</td>
                    <td>{{report['reportLevel']}}</td>
                    <td >{{report['reportDescription']}}</td>
                    <td>{{report['AttackVector']}}</td>
                   
                    <td>{{report['AttackComplexity']}}</td>
                    <td>{{report['getprivilege']}}</td>
                    {% if report['reportFile'] != None %}
                    <td>{{report['reportFile']}}</td>
                    {% else %}
                    <td><span>No File</span></td>
                </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>

                <div class="col-md-2">
                    <input type="text" class="form-control" name="score" placeholder="Score..." required="Please score!">
                    </div>
                    <input type="hidden" name="id" value="{{report['reportId']}}">
                <br>
                    <button type="submit" class="btn btn-danger" style="margin-top:2px">Score</button>             
        </form>
</div>
</div>
{% endblock %}