{% extends "layout.html" %}
{% block body %}
<script src="{{ url_for('static', filename='js/progressbar.js') }}"></script>
<link href="{{ url_for('static', filename='css/report/report.css') }}" rel="stylesheet">
<section id="content">
<article>
<div class="container">
    <div class="page-header">
  <h1 align="center"> Evaluate Report </h1>  
    </div>
    <div class="row">
                {% if error!=None %}
                    <div class="alert alert-danger" role="alert">{{error}}</div>
                {% endif %}
                {% if success!=None %}
                    <div class="alert alert-success" role="alert">{{success}}</div>
                {% endif %}
</div>
<div class="row">

          <form method=POST action="{{ url_for('score_report') }}">
            <div class="row" id="firstrow">
                <table class="table table-striped">
                    <thead>
                    <th>Bug name: </th>
                    
                    <th>Bug type: </th>
                    
                    <th>Report Level</th>
                    
                    <th> Description:</th>
                    <br>
                    
                    <th> Attack Vector(AV):</th>
                    
                    <th>  Attack Complexity(AC):</th>
                    
                    <th>PriviligesRequired(PR):</th>
                    
                    <th>File</th>
                </thead>
                <tbody>
                    <tr>
                    <td>{{report['reportName']}}</td>
                    <td>{{report['reportType']}}</td>
                    <td>{{report['reportLevel']}}</td>
                     <td>{{report['reportDescription']}}</td>
                    <td>{{report['AttackVector']}}</td>
                   
                    <td>{{report['AttackComplexity']}}</td>
                    <td>{{report['getprivilege']}}</td>
                    {% if report['reportFile'] != None %}
                    <td><a href="/uprep1/{{report['reportFile']}}"><span>{{report['reportFile']}}</span></a></td></tr>
                    {% else %}
                    <td><span>No File</span></td></tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" name="score" placeholder="Score..." required="Please score!">
                    </div>
                    <input type="hidden" name="id" value="{{report['reportId']}}">
                <br>
                    <button type="submit" class="btn btn-danger">Score</button>
                
                </div>
            </div>
        </form>
</div><br>
<br>
</div>
</article>
</section>
</div>
{% endblock %}