{% extends "layout.html" %}
{% block body %}
<section id="content" style="margin-top:-30px">
<article>
<div class="container">
    <div class="row">
    	<div class="col-md-3"></div>
        <div class="col-md-6">
           
            <br>
            <div>
                <h1>Welcome to PenParty Platform</h1>
        			<img width="100%" height="350" src="{{url_for('static',filename='img/intro1.png')}}">
            </div>
        </div>
    </div>
</div>
</article>
<article>
	<div class="row" style="padding-right: 50px; padding-left: 50px;">
		<div class="col-md-12">
<h4>
<p> <b>PenParty is a pentest contest organized by Engineer Spark Community in colloboration with the ministry of information and technology , in which teams compete to find  bugs infrastructure, and report them for the purpose of gaining points. This event is in it first edition, it's unique of kind like no other hacking contest. Similar to the real world, players are required to exploit and report under 24h.So best of luck Hackers!
Made with&nbsp;<span class="heart">&#9829;</span>&nbsp;by Cheesus and harloNzz & hosted by Spark Engineer Community</b>
<br>
  <a href="https://github.com/HoussemCharf"> <i class="fa fa-github" aria-hidden="true"></i></a>
  <a href="https://www.facebook.com/EngineersSparkCommunity"><i class="fa fa-facebook" aria-hidden="true"></i></a></p>
</h4>
</div>
</div>
</article>
<div class="row">
	<div class="col-md-12"><center>
       <img  width="125" height="25"src="{{url_for('static',filename='img/fortinet_logo.jpg')}}">
       <img width="80" height="50" src="{{url_for('static',filename='img/Elgazala.jpg')}}">
       <img width="125" height="50" src="{{url_for('static',filename='img/tritux.jpg')}}">
       <img width="100" height="50" src="{{url_for('static',filename='img/aurax.png')}}">
       <img width="50" height="50" src="{{url_for('static',filename='img/ministry.png')}}">
       <img width="100" height="50" src="{{url_for('static',filename='img/ansi.png')}}">
       <img width="100" height="50" src="{{url_for('static',filename='img/IsetCom.png')}}">
    </center></div>
</div>

</section>
{% endblock %}
