{% extends "layout.html" %}
{% block body %}
<section id="content">
<article>
<div class="container">
    <div class="row">
    	<div class="col-md-3"></div>
        <div class="col-md-6">
           
            <br>
            <div>
                <h1>Welcome to PenParty Platform</h1>
        			<img width="500" height="350" src="{{url_for('static',filename='img/intro.png')}}">
            </div>
        </div>
    </div>
</div>
</article>
<article>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
		<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining .</p>
	</div>
	</div>
</article>

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">

        		<img  width="125" height="25"src="{{url_for('static',filename='img/fortinet_logo.jpg')}}">
        		<img width="80" height="50" src="{{url_for('static',filename='img/Elgazala.jpg')}}">
        		<img width="125" height="50" src="{{url_for('static',filename='img/tritux.jpg')}}">
	</div>
</div>

</section>
{% endblock %}
