{% extends "layout.html" %}
{% block body %}
<link href="{{url_for('static',filename='css/leaderboard.css')}}" rel="stylesheet">
<section id="content">
<article>
    <div class="container">
        <div class=row>
		      <img src="{{url_for('static',filename='img/leadercup.png')}}" id="img">
              <h2 align=center id="penparty">Leaderboard</h2>
        </div>
        <div class="row">
		      <table class="table table-hover" id="leaderboardtable" border="0">
                    <thead>
                         <tr>
                             <th>Placement</th>
                             <th>Team</th>
                             <th>Total Score</th>          
                         </tr>
                    </thead>
                    <tbody>
                        <tr><td>test</td><td>test</td><td>test</td></tr>
                    </tbody>
                    </table>
        </div>

    </div>
</article>
</section>
{% endblock %}