{% extends "layout.html" %}
{% block body %}
<div class="container">

    <div class="row">
         <div class="col-md-4 col-md-offset-4">
        <img width="400" height="200" src="{{url_for('static',filename='img/register.png')}}">
        </div>
        <div class="col-md-4 col-md-offset-4">
            <span id="team"><h3 align="center">Team registration</h3></span>
            <form method=POST action="{{ url_for('register') }}">                
                <div class="form-group">
                    <label for="InputUsername">Username</label>
                    <input type="text" class="form-control" name="name" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="InputEmail">Email</label>
                    <input type="text" class="form-control" name="email" placeholder="Team@domain.com">
                </div>
                <div class="form-group">
                    <label for="InputPassword">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="Inputfirstpartner"> First Partner </label>
                    <input type="text" class="form-control" name="firstpartner" placeholder="First Partner">
                </div>
                <div class="form-group">
                    <label for="Inputsecondpartner"> Second Partner </label>
                    <input type="text" class="form-control" name="secondpartner" placeholder="Second Partner">
                </div>
                <div class="form-group">
                    <label for="Inputthirdpartner"> Third Partner </label>
                    <input type="text" class="form-control" name="thirdpartner" placeholder="Third Partner">
                </div>
                <br>
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form>
            <br>
        </div>
    </div>
</div>
{% endblock %}