{% extends "layout.html" %}
{% block body %}
<section id="content">
<article>
<div class="container">
    <div class="page-header">
  
    </div>
    <div class="row">
        <div class="col-sm-6">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Search</button>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.col-sm-6 -->
        <div class="col-sm-3">
          <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="sort_by" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Sort by
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="sort_by">
                <li><a href="#">Date</a></li>
                <li><a href="#">Level</a></li>
                <li><a href="#">Score</a></li>
              </ul>
        </div>
    </div><!-- /.col-sm-3 -->
    <div class="col-sm-3">
        <a href="/addreport"><button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Report</button></a>
    </div>
      <!--add report sections-->
    </div><!-- /.row -->
    {% if reports|length > 0 %}
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Report name</th>
            <th>Report Description</th>
            <th>Vector</th>
            <th>Type</th>
            <th>Attachment</th>
            <th>Submission time</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
        {% for post in reports %}

            <tr>
                <td>{{ post['reportName'] }}</td>
                <td>{{ post['reportDescription'] }}</td>
                <td>{{post['AttackVector']}}</td>
                <td>{{post['reportType']}}</td>
                {% if post['reportFile'] == None %}
                    <td>No File Attached</td>
                  {% else %}
                    <td> {{post['reportFile']}}</td>
                {% endif %}


                <td>{{post['reportDate'].strftime("%H:%M:%S")}}</td>
                  {% if post['report_status']==0 %}
                    <td><span class="label label-warning">Pending</span></td>
                  {% elif post['report_status']==1 %}
                    <td><span class="label label-success">Accepted</span></td>
                  {% elif post['report_status']==-1%}
                    <td><span class="label label-danger">Rejected</span></td>
                  {% else %}
                    <td><span class="label label-default">Error</span></td>
                  {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h4>There aren't any reports yet!</h4>
    {% endif %}
</div>
</article>
</section>
{% endblock %}
