{% extends "layout.html" %}
{% block body %}
<section id="content">
  <script>
    // houssem experience in javascript finally payed off xD
    function filter(){
      // Please dont play with this code ... -____-
      var input,filter,table,td,textvalue;
      input=document.getElementById('searchField');
      filter=input.value.toUpperCase();
      table=document.getElementById('reportList');
      // i am soo over ; god dam it why everything isnt GOPY
      tr=document.getElementsByTagName('tr');
      // Looping part
      for (i = 1; i < tr.length; i++) {
          a = tr[i].getElementsByTagName('td')[0];
          // grabbing that text from da ***** (wink wink trump lol)
          txtValue = a.textContent || a.innerText;
          // checking if it matches
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";} 
          else {
              tr[i].style.display = "none";}
      }
    }
  </script>
<article>
<div class="container">
    <div class="page-header">
  
    </div>
    <div class="row">
        <div class="col-sm-6">
        <div class="input-group">
          <input type="text" id="searchField" class="form-control" placeholder="Search for..." onkeyup="filter()">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" onsubmit="button_filter()">Search</button>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.col-sm-6 -->
    <div class="col-sm-3">
        <a href="/addreport"><button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Report</button></a>
    </div>
      <!--add report sections-->
    </div><!-- /.row -->
    {% if reports|length > 0 %}
    <table id="reportList"class="table table-striped">
        <thead>
          <tr>
            <th>Report name</th>
            <th>Report Description</th>
            <th>Vector</th>
            <th>Type</th>
            <th>Attachment</th>
            <th>Submission time</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
        {% for post in reports %}

            <tr>
                <td>{{ post['reportName'] }}</td>
                <td>{{ post['reportDescription'] }}</td>
                <td>{{post['AttackVector']}}</td>
                <td>{{post['reportType']}}</td>
                {% if post['reportFile'] == None %}
                    <td>No File Attached</td>
                  {% else %}
                    <td> {{post['reportFile']}}</td>
                {% endif %}


                <td>{{post['reportDate'].strftime("%H:%M:%S")}}</td>
                  {% if post['status']== 0 %}
                    <td><span class="label label-warning">Pending</span></td>
                  {% elif post['status']==1 %}
                    <td><span class="label label-success">Accepted</span></td>
                  {% elif post['status']==-1%}
                    <td><span class="label label-danger">Rejected</span></td>
                  {% else %}
                    <td><span class="label label-default">Error</span></td>
                  {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h4>There aren't any reports yet!</h4>
    {% endif %}
</div>
</article>
</section>
{% endblock %}
