{% extends "layout.html" %}
{% block body %}
<h1 style="padding:0 465px;margin-top:70px;text-shadow:1px 1px" > Report Fields </h1>  
<div class="custom-container container" > 
          <form method=POST action="{{ url_for('report') }}" enctype='multipart/form-data'>
            <div class="row" id=firstrow>
                <div class="col-md-5 col-md-offset-1" >
                    <label for="InputbugName">Bug name </label>
                    <input type="text" class="form-control" name="reportName" placeholder="Bug name">
                </div>
            
                <div class="col-md-2">
                    <label for="InputbugType">Bug type </label>
                    <select name="reportType" class="form-control">
                        <option value=" " disabled selected>Type</option>
                        <option id="option1" value="0" > T1 </option>
                        <option id="option2" value="0"> T2 </option>
                    </select> 
                </div>
                <div class="col-md-2" id="reportLevel">
                    <label for="InputthreatLevel">Threat level </label>
                    <select  id='selectA' name="reportLevel" class="form-control">
                        <option value="" disabled selected>Select a level</option>
                        <option id="option1" value="25"> Low </option>
                        <option id="option2" value="50"> Medium</option>
                        <option id="option3" value="80"> High </option> 
                    </select></div>
                    <div class="col-md-2">
                   <progress id='progressBar' max='100' value='0' style="width:100%;height:25px;background-color:transparent; border-radius: 2px;
                        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;"></progress>
                </div>
            </div>        
            
            <div class="row" ><br>
                <div id="textdescription" class="col-md-9 col-md-offset-1">
                    <strong> Description</strong>
                    <br>
                    <textarea placeholder="Description field must contain information" name="reportDescription" class="form-control" id="textarea1" rows="11" cols="20" ></textarea>
                </div>
            </div>
            <div class="row" id=reportContent>
                <div class="cold-md-1 col-md-offset-1">
                    <label for="InputFile"></label>
                    <input type=file  name="reportContent" class=form-control-file>
                </div>
            
            
                    <button type="submit" class="btn btn-primary">report</button>
                </div>
            </div>
        </form>
</div>
{% endblock %}