{% extends "layout.html" %}
{% block body %}
<link href="{{ url_for('static', filename='css/report/report.css') }}" rel="stylesheet">
<section id="content">
<article>
<div class="container">
    <div class="page-header">
  <h1 align="center"> Response Interface </h1>  
          <form method=POST action="{{ url_for('reply') }}">
            <div class="row">
                <div class="col-md-9 col-md-offset-2">
                <table class="table">
                    <thead>
                    <th>Username</th>  
                    <th>Message Content </th>
                    <th> Response</th></thead>
                <tbody>
                    <tr>
                    <td> {{user}} </td>
                    <td >{{message['messageContent']}}</td>
                    <td>  <textarea placeholder="Reply here" name="reply"
                     class="form-control" required></textarea>
                    </td>
                    </tr>
                    </tbody>
                </table>
                <input type="hidden" name="id" value="{{message['messageId']}}">
                <button type="submit" class="btn btn-danger" id="respond">Reply</button>
            </div>
            </div>
                </form>
                </div>
</div>
</article>
</section>
{% endblock %}