{% extends "layout.html" %}
{% block body %}
<link href="{{ url_for('static', filename='css/userdashboard.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='js/messageus.js') }}"></script>
<script src="{{ url_for('static', filename='js/changesettings.js') }}"></script>
<script src="{{ url_for('static', filename='js/refreshchat.js') }}"></script>
<div class="user-container">
  <section class="profile-section">
    <div class="avatar-large" id="avatar">
      <span class="avatar-placeholder">{{connecteduser}}</span>
      </div>
      <div class="nickname"><h3>{{username}}</h3></div>
      <div class="user-status">
      <span> <i class="fa fa-circle"></i>
            <span>Online</span>
          </span>
          </div> 
  </section>
</div>
  <div class="tab-container">
    <ul class="nav nav-tabs">
            <li class="nav-item">
              <a href="#Activity" class="nav-link active" role="tab" data-toggle="tab">Activity</a>
            </li>
            <li class="nav-item">
              <a href="#Msgus" class="nav-link" role="tab" data-toggle="tab">Contact</a>
            </li>

            <li class="nav-item">
              <a href="#Inbox" class="nav-link" role="tab" data-toggle="tab">Inbox</a>
            </li>
            <li class="nav-item" id="changepw">
              <a href="#ChangePassword" class="nav-link" role="tab" data-toggle="tab">Change Password</a>
            </li>
            </ul>
      </div>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="Activity">
              <header class="header-dash">
                <h1> User Activity</h1>
              </header>
              <div class="flex-wrap">
                <div class="column-main">
                  <section class="section">
                    <div class="welcome">
                      <h1> welcome </h1>
                      <p> To submit a bug go to <a href="/reports">Report</a> And start Your research</p>
                    </div>
                  </section>
                  <section class="section">
                    <h2 class="Report-summ">
                      <i class="fa fa-bug"></i>
                      Reports
                    </h2>
                    <table class="table-flat">
                      <tbody>
                        <tr class="tr-flat">
                          <td class="td-flat">
                          <span class="trivial">Total amount</span>
                          <span class="total">{{reportCount}}</span></td>
                          <td class="td-flat">
                            <span class="trivial">Accepted</span>
                            <span class="total">{{accepted}}</span>
                          </td>
                          <td class="td-flat">
                            <span class="trivial">Pending</span>
                            <span class="total">{{pending}}</span>
                          </td>
                          <td class="td-flat">
                            <span class="trivial">Rejected</span>
                            <span class="total">{{rejected}}</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                  </section>
              </div>
              </div>              
            </div>
            <div role="tabpanel" class="tab-pane fade" id="Msgus">
              <div class="container-one">
                <div class="row" id="secondRow">
                  <p class="msg"> New Message</p>
                  <form id="form1">
                    <div class="form-group">
                  <textarea placeholder="message here"  id="ContentInput" cols="50" rows="6"></textarea></div>
                  <div>
                  <button type="submit" class="btn btn-primary" id="sendbutton">Send</button></div>
                  </form>
                  <div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
                  <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
                 </div>
                </div>
               </div>
          <div role="tabpanel" class="tab-pane fade" id="Inbox">
            <div  class="chatdiv" id="reloadChat">
            {% if history[0] and history[1]|length > 0 %}
            <div class="chatTtile"><h2>Chat History</h2></div>
            <ul>
              {% for i in range(length) %}
            <li class="hideme">
              <div class="chat"><strong>{{username}}</strong> : {{history[0][i]['messageContent']}}</div>
              <div class="time">{{history[0][i]['messageDate'].strftime("%H:%M")}}</div>
              <div class="reply">{{history[1][i]['messageContent']}}</div>
            </li> 
            {% endfor %}         
             </ul>
            {% elif history[0]| length > 0 %}
            <h2 class="chatTtile">Chat History</h2>
            <ul>
              {% for i in range(length) %}
            <li class="hideme"><div class="chat">{{history[0][i]['messageContent']}}</div><div class="time">{{history[0][i]['messageDate'].strftime("%H:%M")}}</div></li>
            {% endfor %}         
             </ul>
            {% else %}
          <h3 class="nomsg"> No message history </h3>
          {% endif %}
          </div>
        </div>
            <div role="tabpanel" class="tab-pane fade" id="ChangePassword">
              <div class="container-two">
              <div class="row" id="thirdRow">
                <div class="settings-wrapper">
                <form id="form2">
                 <div class="form-group">
                    <label for="InputcurrentPassword"> Current Password</label>
                    <input type="password" class="form-control" id="InputcurrentPassword" placeholder="current password">
                </div>
                <div class="form-group">
                    <label for="InputNewPassword"> New Password</label>
                    <input type="password" class="form-control"  id="InputNewPassword" placeholder="New password" >
                    <span class="hint">Password Settings, min 7,max 20 etc.</span>
                </div>
                <div class="form-group">
                    <label for="InputConfirmPassword"> Confirm password</label>
                    <input type="password" class="form-control" id="InputConfirmPassword" placeholder="Confirm password "> </div>
                <br>
                <button type="submit" class="btn btn-primary" id="updatesettings">Update</button>
            </form> 
                  <div id="successAlert1" class="alert alert-success" role="alert" style="display:none;"></div>
                  <div id="errorAlert1" class="alert alert-danger" role="alert" style="display:none;"></div>
            </div>
            </div>
            </div>
            </div>
</div>
{% endblock %}