.container-glue{max-width:800px;margin-top:80px;margin-left:30%;
max-height:800px;margin-right:30%;}
img{ max-width:100%;}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg li {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 5px;
  max-height:1500px;
  margin-top:0px;
  color: black;
  font-size: 15px;
  display:inline-block;
  max-width:100%;
  padding:2px;
}
.time_date {
  color: #747474;
  font-size: 12px;
  margin-top:20px;
  margin-left:40px;
}
.received_withd_msg { max-width: 90%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 65%;
}
.input_msg_write textarea {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  width:100%;
  resize:none;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;
margin-top:150px;}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging {
    width:100%
}
.user_msg{
  max-height:1500px;
  width:150%;
}
.write_msg{
    height:80px;
    width:100%;
}