

#foofoo {
	float: left;
	background-color: #000000;
}

.heart {
	color: #ef0e2b;
	font-size:25px;
}
.navbarHoussem{
	background-color: "black";
}

.Houssem-black1 {
	width: 100%;
	color: #000000;
	bottom:0;
	position: fixed;
	text-align: center;
	margin: 30px;
	font-family: 'Biryani', sans-serif;
	font-size: 10px;
	font-weight: bold;
}
.notification {
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification:hover {
  background: red;
}

.notification .badge {
  position: absolute;
  top: 5px;
  right: 2px;
  padding: 3px 6px;
  border-radius: 60%;
  background: red;
  color: white;
}