
#foofoo {
	float: left;
	background-color: #000000;
}

.heart {
	color: #ef0e2b;
	font-size:25px;
}
.navbarHoussem{
	background-color: "black";
}

.Houssem-black1 {
	width: 100%;
	color: #000000;
	bottom:0;
	position: fixed;
	text-align: center;
	margin: 30px;
	font-family: 'Biryani', sans-serif;
	font-size: 10px;
	font-weight: bold;
}