
.chat {
  display:inline-block;
  max-width:30%;
  background-color:#09f;
  margin-top:10px;
  color:white;
  border-radius: 5px;
  font-size:16px;
  min-height:25px;
}
.chatTtile{
  margin-left:40%;
  margin-bottom:10px;
}
.reply {
  display:inline-block;
  position:relative;
  margin-left:50%;
  max-width:30%;
  margin-top:20px;
  min-height:30px;
  margin-bottom:30px;
  border-radius: 5px;
  color:black;
  background-color: #eee;
  font-size:16px;
}
.time {
  color: #747474;
  font-size: 12px;
}
.hideme {
  list-style:none;
}
.avatar-large .avatar-placeholder {
    display: inline-block;
    text-transform: uppercase;
    width: 70px;
    height: 70px;
    line-height: 70px;
  }
  .avatar-placeholder {
    background-color: #BDCAD3;
    color: white;
    font-size:25px;
    line-height: 70px;
    text-align: center;
    position:relative;
    margin-left :8px;
    margin-top:50px;
  }
  .nickname{
    position:relative;
    margin-left:10px;
    margin-top:-15px;
  }
  .user-status{
    margin-top:-90px;
  }
  .user-status .fa {
    color:green;
    position:relative;
    margin-left:10px;
    margin-top:80px;
  }
  .hint {
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
  }
  #contz{
    font-size:20px;
  }

  #ContentInput{
   resize: none;
   margin-top:19px;
}
  #sendbutton{
    position:relative;
    margin-left:20px;
    margin-top:20px;
    width:100px;
    font-size :15px;
  }
  .msg{
    font-size:30px;
    position:relative;
    margin-top:10px;
  }
  .alert{
    width:20%;
    margin-top:30px;
    margin-left:25px;
  }
  #passfail{
  	width:70%;
  }
  #passsuccess{
  	width:70%;
  }
  #successAlert1{
    width:70%;
  }
  #errorAlert1{
    width:70%;
  }
  .nav-link:hover,.nav-link:focus
  {
    color:black;
  }
  .nav-link{
    color:black;
  }
  .header-dash {
    margin-top: 10px;
    position: relative; 
    display: block;
  }
  .header-dash h1{
    font-size : 30px;
    margin-left:25px;
  }
  .column-main {
    width: 60%;

  }
  .welcome{
    background: #f3f5f7;
    margin: 10px 0;
    max-width: 750px;
    padding: 50px;
    border: 1px dashed #eaeaea;
    font-size: 14px;
    margin-left:30px;
  }
  .welcome p{
    font-size:20px;
  }
  .Report-summ {
    font-size: 20px;
    line-height: 1;
    color: #31a4b2;
    margin-bottom: 30px;
    margin-left:25px;
  }
  .table-flat {
    margin-left:30px;
    width:750px;
    height:50px;
    border:1px dashed #eaeaea ;
    background-color:#f3f5f7;
    margin-bottom:50px;
  }
  .trivial {
    color: #959cb7;
    font-size:15px;
    margin-left:10px;
  }
  .total {
    font-family: 'PT Sans Caption', sans-serif;
    margin-left:20px;
    font-size:18px;
  }
  .reply:empty {
  display:none;
  }
  .histime:None{
    display:none;
  }
  #navies {
    display:block;
  }
  .tab-container{
    float:left;
    display: block;
    width:160px;
    margin-left:8%;
    margin-top:15px;
  }
  .nav-item{
    margin-top:5px;
    font-size:17px;
  }
  .tab-pane{
    margin-left:150px;
  }
  .user-container {
    margin-left:8%;
    margin-top:80px;
  }
  .tab-content{
    margin-left:20%;
    margin-top:-65px;
  }
  #changepw {
    width:180px;
  }
  .container-one {
    margin-left:30px;
  }
  .container-two {
    margin-left:50px;
    width:20%;
    margin-top:30px;
  }
  #updatesettings{
    width:100px;
  }
  .nomsg {
    margin-left:35%;
  }